html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-family: Roboto, Arial, sans-serif;
    background-color: #ff0000;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    font-family: TTFirsNeue, Helvetica, sans-serif;
}